* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}

/* navbar  */

#navbar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
}

.logo {
  height: 60px;
  width: 70px;
  margin: 10px 30px;
  border: 2px solid gray;
  border-radius: 50%;
}

#navbar ul {
  display: flex;

  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 20px;
  color: white;
}
#navbar ul li a:hover {
  background-color: rgb(227, 234, 227);
  color: black;
  border-radius: 10px;
}

#navbar::before {
  content: "";
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
}
/* section-1  */

.box-img {
  width: 100%;
  height: 600px;
  text-align: center;
  position: relative;
}

.box-img img {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.8;
}
.box-img img:hover {
  opacity: 0.9;
}
.overlay {
  position: absolute;
  bottom: 40%;
  left: 5%;
  z-index: 2;
}
.btn-1 {
  text-decoration: none;
  display: inline-block;
  background-color: rgb(32, 35, 32);
  color: rgb(245, 239, 239);
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 10px;
}
.btn-1:hover {
  background-color: white;
  color: rgb(46, 42, 42);
  font-weight: bold;
}

.box-img.overlay::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.02s ease-in;
}
.overlay h1 {
  margin-top: 170px;
  font-size: 3em;
  color: white;
}
.overlay p {
  margin-top: 8px;
  font-size: 20px;
  color: white;
  padding: 10px;
}

/* section-2  */

.heading-2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 12px;
}

.box {
  margin: 16px;
  display: flex;
  margin-top: 8px;
  padding: 20px;
}
.box .card {

  padding: 24px;
  margin: 15px 15px;
  border-radius: 23px;
  background-color: #ffffff36;
  box-shadow: 5px 10px 18px #888888;
}
.box .card img {
  height: 190px;
  width: 180px;
  margin: auto;
  display: block;
  padding: 10px;
}
.box .card .heading-3 {
  text-align: center;
  padding: 10px;
  font-weight: 900;
  font-size: 35px;
}
.box .card .text-2 {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

/* section-3  */

.heading-3 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.cilent-sec {
  height: auto;
  margin-top: 35px;
}
.cilent-sec::before {
  content: "";
  position: absolute;
  background: url(../images/bacground\ img.jpg) center/cover no-repeat;
  width: 100%;
  height: 30%;
  z-index: 1;
  opacity: 0.3;
}
.cilent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.cilent .cilent-item img {
  height: 94px;
}
.cilent-item {
  padding: 0px;
}

/* section-4   */
.contectus {
  background: url(../images/mobail\ using\ img.jpg) center/cover no-repeat;
}

.heading-4 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 10px;
  margin-top: 60px;
}

.contectus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.contectus textarea,
.contectus input {
  width: 100%;
  padding: 0.5rem;
}
.form-group {
  padding: 10px;
}

.contectus form {
  font-size: 25px;
  font-weight: bold;
  color: antiquewhite;
}

/* footer  */
.foter {
  text-align: center;
  background-color: black;
  color: aliceblue;
  font-weight: bold;
  padding: 10px;
}
span {
  color: yellow;
}
