@media only screen and (max-width: 800px) {
  #navbar {
    flex-direction: column;
    width: 100%;
    padding: 24px;
  }
  #navbar ul {
    flex-direction: column;
  }
  .heading {
    margin-top: 100px;
  }
  .sec-1 {
    padding: 56px 30px;
    height: auto;
  }

  .heading-2 {
    margin-left: 30px;
  }

  .box {
    flex-direction: column;
    margin: -10px;
    width: fit-content;
    justify-content: center;
  }
  .box.card {
    padding: 19px;
    margin: 9px -30 px;
  }
  .cilent-sec {
    height: auto;
    width: 100%;
  }

  .service.cilent-sec {
    background: url(../images/mobail\ using\ img.jpg) center/cover no-repeat;
  }

  .heading-4 {
    margin-left: -10px;
  }
  .contectus textarea,
  .contectus input {
    width: 80%;
    padding: 0.5rem;
  }
  .contectus {
    width: 100%;
  }

  .foter {
    width: 100%;
  }

  .contect-sec {
    margin-top: 80px;
  }
}
