* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

/* navbar  */

#navbar {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
}

.logo {
  height: 60px;
  width: 70px;
  margin: 10px 30px;
  border: 2px solid gray;
  border-radius: 50%;
}

#navbar ul {
  display: flex;

  list-style: none;
  font-size: 1.3rem;
}
#navbar ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 20px;
  color: white;
}
#navbar ul li a:hover {
  background-color: rgb(227, 234, 227);
  color: black;
  border-radius: 10px;
}

#navbar::before {
  content: "";
  background-color: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.8;
}
/* section-1  */
.sec-1 {
  display: flex;
  flex-direction: column;
  padding: 70px 30px;
  height: 450px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.sec-1::before {
  content: "";
  background: url("../images/lily-banse--YHSwy6uqvk-unsplash.jpg") no-repeat
    center center/cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.89;
}
.heading {
  color: rgb(10, 11, 11);
  font-size: 45px;
  text-align: center;
}
.preg-1 {
  color: rgb(26, 28, 28);
  font-size: 30px;
  text-align: center;
  padding: 5px;
}
.btn-1 {
  font-size: 20px;
  padding: 10px;
  background-color: black;
  color: rgb(230, 235, 235);
  border-radius: 10px;
  opacity: 0.7;
}
.btn-1:hover {
  background-color: rgb(249, 248, 248);
  color: black;
}

/* section-2  */

.heading-2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 10px;
}

.box {
  margin: 16px;
  display: flex;
  margin-top: 8px;
  padding: 10px;
}
.box .card {
  border: 2px solid red;
  padding: 34px;
  margin: 15px 15px;
  border-radius: 23px;
  background-color: rgb(186, 172, 172);
}
.box .card img {
  height: 190px;
  width: 180px;
  margin: auto;
  display: block;
  padding: 10px;
}
.box .card .heading-3 {
  text-align: center;
  padding: 10px;
  font-weight: 900;
  font-size: 35px;
}
.box .card .text-2 {
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

/* section-3  */

.heading-3 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.cilent-sec {
  height: auto;
  margin-bottom: 100px;
}
.cilent-sec::before {
  content: "";
  position: absolute;
  background: url(../images/bacground\ img.jpg) center/cover no-repeat;
  width: 100%;
  height: 40%;
  z-index: 1;
  opacity: 0.3;
}
.cilent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.cilent .cilent-item img {
  height: 94px;
}
.cilent-item {
  padding: 23px;
}

/* section-4   */
.contectus {
  background: url(../images/mobail\ using\ img.jpg) center/cover no-repeat;
}

.heading-4 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 10px;
}

.contectus {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contectus textarea,
.contectus input {
  width: 100%;
  padding: 0.5rem;
}
.form-group {
  padding: 10px;
}
.contectus form {
  width: 40%;
}
.contectus form {
  font-size: 25px;
  font-weight: bold;
  color: antiquewhite;
}

/* footer  */
.foter {
  text-align: center;
  background-color: black;
  color: aliceblue;
  font-weight: bold;
  padding: 10px;
}
span {
  color: yellow;
}
