* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
#nav {
  width: 100%;
  height: 20%;
  background-color: #323637;
}
.navbar-price {
  display: flex;
  justify-content: space-between;
}
.navbar_icon {
  margin-left: 40px;
  font-size: small;
}

.info {
  color: #cccccc;
  font-size: large;
  font-family: "font-family: 'Dancing Script', cursive";
  font-weight: 100;
}
.navbar_icon i {
  color: gainsboro;
  margin-top: 10px;
}
.navbar_icon-2 {
  margin-right: 50px;
}
.navbar_icon-2 i {
  color: gainsboro;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar ul a i {
  font-size: 10px;
  color: gainsboro;
}

/* header  */
nav {
  background-color: #fff;
  height: 80px;
  width: 100%;
}
.logo {
  color: green;
  font-size: 55px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  font-size: 28px;
  padding: 0px 13px;
  text-decoration: none;
}
nav ul li a:hover {
  color: aquamarine;
}
#gsearch {
  display: none;
}
.a1 {
  font-size: 30px;
}

.chekbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#chek {
  display: none;
}
/* slider  */

.owl-stage-outer {
  overflow: unset !important;
}
.items {
  width: 100%;
  height: 500px;
  display: flex;
  /* flex-direction: row-reverse; */
}

.h2 {
  font-size: 60px;
  margin: 0;
}
.zay {
  font-size: 55px;
}

.phr.h2 {
  font-size: 60px;
  color: green;
}

.phr h2 span {
  font-size: 40px;
  color: green;
  font-family: sans-serif;
}

.owl-carousel {
  width: 100%;
  background: #efefef !important;
}

.short {
  margin-top: 0;
  font-size: 25px;
}
.short-1 {
  font-size: large;
}
.item {
  display: flex;
}
.owl-carousel .owl-item img {
  height: 400px;
}

.owl-item {
  left: 0 !important;
}
.phr {
  margin-top: 91px;
  margin-left: 100px;
}

.phr-img,
.phr {
  width: 50%;
}
button.owl-prev:after {
  content: "\f104";
  font-family: FontAwesome;
  color: #333;
  font-size: 30px;
}
button.owl-next:after {
  content: "\f105";
  font-family: FontAwesome;
  color: #333;
  font-size: 30px;
}
button.owl-prev {
  position: absolute;
  top: 207px;
  left: 58px;
}
button.owl-next {
  position: absolute;
  top: 207px;
  right: 58px;
}
/* section-1  */
.review {
  width: 100%;
}

.review .review-heading {
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.review p {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-box {
  width: 95%;
  margin: 60px auto;
  display: flex;
}
.review-card {
  width: 500px;
  height: 480px;
  padding: 8px 20px;
  margin: 0 8px;
}
.review_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}

.review_profile img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5ps solid #cccccc;
}
.review-card .review_text {
  text-align: center;
  padding: 10px;
}

.shop {
  background-color: green;
  color: wheat;
  padding: 8px 20px;
  font-size: larger;
}
.shop {
  opacity: 0.6;
}

/* section-2 */
.proudect {
  padding: 80px 70px;
  background-color: #e0e6e7;
}
.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}
.Featured {
  font-size: 48px;
}
.preg {
  font-size: 20px;
  text-align: center;
}
.proudect-box {
  width: 100%;
  margin-top: 50px;
  display: flex;

  background-color: #e0e6e7;
}
.proudect-card {
  width: 500px;
  height: 640px;
  margin: 0 8px;
}

.proudect-img img {
  width: 100%;
}
.proudect-text {
  background-color: #fff;
  height: 350px;
}

.proudect-text p {
  font-size: larger;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.rating_price {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  opacity: 0.6;
}
.review_icon {
  color: #fac031;
  font-size: larger;
}
.product_price {
  font-size: large;
}
.name {
  font-size: 30px;
  opacity: 0.6;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}
.rev {
  opacity: 0.5;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
}

/* footer  */

.footer {
  background-color: #212934 !important;
  width: 100%;
  height: 560px;
  color: white;
  margin-bottom: 50px;
  padding: 28px 50px 15px 63px;
  font-family: "Roboto", sans-serif;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer .row .footer-col span {
  color: #ebe2e2;
  font-size: 38px;
  text-align: left;
  font-family: "Roboto", sans-serif;
}
.hr-1 {
  width: 90%;
  margin-top: 10px;
  opacity: 0.2;
}
.footer .row .footer-col p {
  margin: 20px 0;
  font-size: 20px;
  color: gainsboro;
}
.footer .row .footer-col p:hover {
  color: green;
}
.product {
  list-style-type: none;
  text-align: left;
  padding-top: 20px;
  opacity: 0.8;
}

.product p {
  text-decoration: none;
  font-size: 18px;
  color: gainsboro;
}

.product p:hover {
  color: green;
}

.end {
  width: 100%;
  display: flex;
  padding: 15px;
  background-color: #212934 !important;
  font-size: large;
  color: gainsboro;
}
.footers {
  text-decoration: none;
  list-style-type: none;
  font-size: larger;
}
.footers a {
  text-decoration: none;
  color: #e0e6e7;
  font-size: 25px;
  color: gray;
}

.hr {
  width: 100%;
  color: #212934;
  opacity: 0.1;
}
#footer {
  background-color: #212934 !important;
}
.footer-price {
  display: flex;
  justify-content: space-between;
}
.footer_icon {
  margin-left: -20px;
  font-size: 30px;
}
.footer-col {
  padding: 12px;
}
.footer_icon i {
  margin-left: 30px;
  margin-top: 30px;
  opacity: 0.8;
  background-color: #212934;
}
.footer_serch {
  padding: 28px;
}
#search {
  border: 2px solid #a5b1c5;
  padding: 12px;
  background-color: #212934 !important;
  opacity: 0.1;
  border-radius: 5px;
  /* color: white; */
}

.btn-submit {
  border: 2px solid #212934;
  padding: 9px 18px;
  font-size: larger;
  color: white;
  background-color: rgb(75, 211, 75);
  opacity: 0.8;
  border-radius: 5px;
}

/* header  */
nav {
  background-color: #fff;
  height: 80px;
  width: 100%;
}
.logo {
  color: green;
  font-size: 55px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  /* margin-right: 40px; */
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  font-size: 28px;
  padding: 0px 13px;
  text-decoration: none;
}
