* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nav {
  width: 100%;
  height: 20%;
  background-color: #323637;
}
.navbar-price {
  display: flex;
  justify-content: space-between;
}
.navbar_icon {
  margin-left: 40px;
  font-size: small;
}

.info {
  color: #cccccc;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
}
.navbar_icon i {
  color: gainsboro;
  margin-top: 10px;
}
.navbar_icon-2 {
  margin-right: 50px;
}
.navbar_icon-2 i {
  color: gainsboro;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar ul a i {
  font-size: 10px;
  color: gainsboro;
}

/* header  */
#header {
  width: 100%;
  height: 80px;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
}

nav .logo p {
  width: 100px;
  font-size: 55px;
  font-weight: 800;
  color: green;
  margin: 6px;
}
header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline-block;
  margin: 0 35px;
}

header nav ul li a {
  text-decoration: none;
  color: black;

  font-size: 20px;
}
nav ul li a:hover {
  color: #2c8ba3;
}
nav .icon {
  font-size: 20px;
  padding: 10px;
}
nav .icon i:hover {
  color: #fac031;
}
/* slider  */
.item {
  width: 100%;
}
/* 
/* section-1  */
.review {
  width: 100%;
  padding: 10px 0;
}

.review .review-heading {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.review p {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.review-box {
  width: 95%;
  margin: 60px auto;
  display: flex;
}
.review-card {
  width: 500px;
  height: 480px;
  padding: 8px 20px;
  margin: 0 8px;
}
.review_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.3s;
}

.review_profile img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 5ps solid #cccccc;
}
.review-card .review_text {
  text-align: center;
  padding: 10px;
}

.shop {
  background-color: green;
  color: wheat;
  padding: 8px 20px;
  font-size: larger;
}
.shop {
  opacity: 0.6;
}

/* section-2 */
.proudect {
  width: 100%;
  padding: 10px 0;
}
.Featured {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preg {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proudect-box {
  width: 100%;
  margin: 60px auto;
  display: flex;
  gap: 10;
  background-color: #e0e6e7;
}
.proudect-card {
  width: 500px;
  height: 500px;
  padding: 8px 20px;
  margin: 0 8px;
}
.proudect-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-content: space-between;
}
.proudect-img img {
  width: 100%;
}
.proudect-text {
  padding: 10px;
}
.proudect-text p {
  font-size: larger;
  padding: 10px;
}

.rating_price {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.review_icon {
  color: #fac031;
  font-size: larger;
}
.product_price {
  font-size: large;
}
.name {
  font-size: 35px;
}
.rev {
  opacity: 0.5;
}

/* footer  */

.footer {
  background-color: #1d1a1a;
  width: 100%;
  height: 530px;
  color: white;
  padding: 28px 50px 15px 63px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer .row .footer-col span {
  color: #ebe2e2;
  font-size: 45px;
  text-align: left;
}
.footer .row .footer-col p {
  margin: 20px 0;
  font-size: 20px;
  color: gainsboro;
}
.product {
  list-style-type: none;
  text-align: left;
  padding-top: 20px;
}

.product a {
  text-decoration: none;
  font-size: 20px;
  color: gainsboro;
  padding: 10px;
}

.end {
  display: flex;
  padding: 15px;
  background-color: #433f3f5a;
  font-size: large;
  color: gainsboro;
  /* margin-left: 20px; */
}
.footers {
  text-decoration: none;
  list-style-type: none;
  font-size: larger;
}
.footers a {
  text-decoration: none;
  color: #e0e6e7;
  font-size: 25px;
  color: gray;
}

hr {
  width: 100%;
  color: #39343458;
}
#footer {
  background-color: #23202057;
}
.footer-price {
  display: flex;
  justify-content: space-between;
}
.footer_icon {
  margin-left: 40px;
  font-size: 30px;
}
.footer_icon i {
  margin-left: 30px;
  margin-top: 30px;
  opacity: 0.8;
}
.footer_serch {
  padding: 28px;
}
#search {
  border: 2px solid rgb(15, 14, 14);
  padding: 8px;
  background-color: #3d3b3b;
}
.btn-submit {
  border: 2px solid black;
  padding: 7px;
  font-size: larger;
  color: white;
  background-color: green;
}
