@media only screen and (max-width: 800px) {
  #nav {
    display: none;
  }
  .navbar-price {
    display: flex;
    flex-direction: column;
  }
  .review-box {
    display: flex;
    flex-direction: column;
  }
  .review-card {
    margin: 0px -60px;
  }
  .review p {
    font-size: 22px;
    text-align: center;
  }

  .footer_serch {
    margin-left: -10px;
    padding: 10px;
  }
  .footer_icon {
    margin-left: 0;
  }
  .footer_icon i {
    margin-left: 20px;
  }
  .footer-col {
    padding: 12px;
    background: #212934 !important;
  }
  .end {
    padding: 15px;
  }

  /* slider  */
  .items {
    width: 100%;
    height: 400px;
    display: flex;
  }
  .items {
    display: flex;
    flex-direction: column;
    margin-bottom: 600px;
  }
  .phr-img {
    width: 100%;
  }

  .phr-img,
  .phr {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 858px) {
    .chekbtn {
      display: block;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      width: 100%;
      height: 10vh;
      background-color: #fff;
      top: 80px;
      left: 100%;
      transition: all 0.5s;
      flex-grow: 1;
    }
    nav ul li {
      display: block;
      margin: 10px 0;
      line-height: 30px;
    }
    nav ul li a {
      font-size: 25px;
    }
    .fa-solid {
      font-size: 22px;
      padding: 0 10px;
    }
    #gsearch {
      padding: 10px 30px;
      border: 2px solid black;
      width: 50%;
    }

    a:hover {
      background: none;
      color: #0082e6;
    }
    #chek:checked ~ ul {
      left: 0;
      top: 78px;
      z-index: 999999;
      position: absolute;
      background: #e0e6e7;
      height: auto;
    }
    #gsearch {
      padding: 10px 30px;
      border: 2px solid black;
    }
  }
}
